@import '../../variables';

/* Common*/
alert {
  z-index: 9999;
  position: absolute;
}

.clear{
  clear: both;
}
a{
  color:$default-link;
}
a:hover{
  color:$default-link-hover;
  text-decoration: none;
}
h1,h2,h3,h4,p{
  color:$secondary-text;
}

i.fa-default{
  color:$default-text;
}
button.close{
  cursor: pointer;
}
.btn-primary{
  background-color: $default-text;
  border-color:$default-text;
  cursor: pointer;
}
.btn-primary:hover{
  background-color: $default-text;
  border-color:$default-text;
}
/* End Common*/


.container-fluid{
  /* Header */
  .head-top{
    margin:10px 0px;
    h2{
      float: left;
      font-weight: bold;
      color:$default-text;
      margin:0px 5px;
      cursor: pointer;
      .infoIuse{
        float: left;
        height: 40px;
        margin: 0px 5px 0px 5px;
      }
    }
    .menu-top{
      float:right;
    }
    .btn-primary{
      background-color: $default-text;
      border-color:$default-text;
      cursor: pointer;
    }
    .btn-primary:hover{
      background-color: $default-text;
      border-color:$default-text;
    }
  }

  /* footer */
  .al-footer {
    height: 34px;
    padding: 0 18px 0 20px;
    width: 100%;
    display: block;
    bottom: 0;
    font-size: 13px;
    color: $default-text;
    transition: padding-left 0.5s ease;
  }

  .al-footer-main {
    float: left;
    margin-left: 15px;
  }
  .al-footer-right {
    float: right;
    margin-right: 12px;
    i {
      margin: 0 4px;
      color: $danger;
      font-size: 12px;
    }
    a {
      margin-left: 4px;
      color: $default-text;
      &:hover {
        color: $danger;
      }
    }
  }
}
