.actionIcon{
  float: right;
  cursor: pointer;
  margin-left:5px;
}
.headArticle{
  text-align: center;
  span{
      cursor: pointer;
  }
}
circle-progress{
  cursor: pointer;
}
.list-group-item{
  cursor: pointer;
}
