<div class="row">
  <h1>
    {{ title }}!
  </h1>
</div>
<div class="row">
  <div class="col">
    <hr>
    <div class="alert alert-danger" role="alert" *ngIf="message !== ''">
     {{message}}
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <fire-message [selectedFireMsg]="fireMessages" ></fire-message>
  </div>
</div>
<div class="row">
  <div class="col col-lg-4">
    <progressbar class="progress" [value]="percentComplete1" [max]="100">{{percentComplete1}}%</progressbar>
  </div>
  <div class="col col-lg-4">
    <progressbar class="progress progress-striped" [value]="percentComplete2" [max]="100" type="warning">{{percentComplete2}}%</progressbar>
  </div>
  <div class="col col-lg-4">
    <progressbar class="progress progress-striped active" [max]="100" [value]="percentComplete3" type="danger"><i>{{percentComplete3}}%</i></progressbar>
  </div>
</div>
<div class="row">
  <div class="col-lg-4 headArticle">
    <span (click)="openArticle('1')">
      <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
      <h3>Heading</h3>
    </span>
  </div>
  <div class="col-lg-4 headArticle">
    <span (click)="openArticle('2')">
      <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
      <h3>Heading</h3>
    </span>
  </div>
  <div class="col-lg-4 headArticle">
    <span (click)="openArticle('3')">
      <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
      <h3>Heading</h3>
    </span>
  </div>
</div>
<div class="row">

  <div class="col-lg-12">
    <hr>
    <div class="card bg-light mb-3" *ngIf="articlesList">
      <div class="card-header">Articles</div>
      <div class="card-body">
        <ul class="list-group" *ngIf="!articleloading">
          <li class="list-group-item" *ngFor="let article of articlesList">{{article.name}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
