<article-modal [selectedArticle]="selectedArticle" [statusOpen]="openArticleModal" (onClose)="closeModal($event)"></article-modal>
<user-modal [selectedUser]="selectedUser" [statusOpen]="openUserModal" (onClose)="closeModal($event)"></user-modal>
<div class="row">
  <h1>
    {{ title }}!
  </h1>
</div>
<div class="row">
  <div class="col">
    <hr>
    <div class="alert alert-danger" role="alert" *ngIf="message !== ''">
     {{message}}
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <fire-message [selectedFireMsg]="fireMessages" ></fire-message>
  </div>
</div>
<div class="row">
  <div class="col">
    <circle-progress
      [percent]="percentComplete1"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [animation]="true"
      [animationDuration]="300"
  ></circle-progress>
  </div>
  <div class="col">
    <circle-progress
      [percent]="percentComplete2"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [animation]="true"
      [animationDuration]="300"
  ></circle-progress>
  </div>
  <div class="col">
    <circle-progress
      [percent]="percentComplete3"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [animation]="true"
      [animationDuration]="300"
  ></circle-progress>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="card bg-light mb-3" style="max-width: 20rem;">
      <div class="card-header">Articles</div>
      <div class="card-body">
        <img *ngIf="articleloading"   src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        <ul class="list-group" *ngIf="!articleloading">
          <li class="list-group-item" *ngFor="let article of articlesList">{{article.name}}  <i class="fa fa-minus-circle fa-default actionIcon" aria-hidden="true" (click)="deleteArticle(article.uid)" *ngIf="requestService.validUser()"></i><i class="fa fa-info-circle fa-default actionIcon" aria-hidden="true" (click)="openData('article',article.uid)"></i></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col">
  </div>
  <div class="col">
  </div>
</div>
