$icon-font-path: '../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
$brand-primary: red;
$default-text: #2b9eeb;
$secondary-text: #212529;
$default-bg: rgb(240, 241, 242);
$danger: #db2525 !default;
