$icon-font-path: '../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
$brand-primary: red;
$default-text: #2b9eeb;
$default-link: #2b9eeb;
$default-link-hover: rgba(134, 149, 164, 0.5);
$secondary-text: #212529;
$default-bg: rgb(240, 241, 242);
$danger: #db2525 !default;
