.modal {
  .modal-content {
    // color: #ffffff;
    .loader{
      margin-left: 10px;
    }
    .onSaveBtn{
      margin-left: 10px;
    }
    .onEditBtn{
      margin-left: 10px;
    }
    .message{
      margin-left: 10px;
      color: #000000;
    }
  }
}
